{% extends "aff_base.html" %}
{% block heading %}Partner Program{% endblock %}
{% block subtitle %}Invite-only.{% endblock %}
{% block content %}
<div class="card">
  <h3>TradeWave Partner Program</h3>
  <p style="color:#9ca3af; font-size:15px;">
    The partner program is invite-only. If you have an audience that would value
    seasonal-pattern research and you'd like to work with us, we'd love to hear from you.
  </p>
  <a class="btn-secondary" href="/affiliate">Learn about the program</a>
</div>
{% endblock %}
