body,html {
   margin: 0;
    padding: 0;
    font-size:12px;
}

input[type=text], select, textarea{
   /* width: 100%; */
   padding: 0px;
   border: 1px solid #ccc;
   border-radius: 1px;
   box-sizing: border-box;
   resize:both;
   font-size:12px;
 }





 .left-nav {
    height:100%;
    top: 0;
    background-color: red;
    padding: 0px;
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
 }

.security-selection{
   height:4%;
   width:100%;
   background-color:rgb(60,60,60);
   display:flex;
   align-items: center;

   justify-content: flex-end;

}

 .opp_table_div {
   /* moved it to a dynamic var in oppTable named oppDivHeight */
   height: 96.5%;
   /* height:66%; */
    display:flex;
    flex-direction: column;
    background-color: purple;
    overflow-y: auto;
    overflow-x: hidden;
 }

 .tutorials{
   height: 26%;
   width:100%;
   background-color: lightgreen;
}

 #right-content {
   height:100%;
   background-color: lightblue;
   overflow: hidden;
}

.seasonal-barchart-parent{
   width:100%;
   background-color: blue;
}

.stock-linechart-parent{
   width:100%;
   background-color: white;
   overflow: hidden;
}



.opp-cover{
   position: absolute;
   background-color: gray ;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   top:10.5%;
   width: 30%;
   height:85.5%;
   left:0%;
   z-index:1000;
}

.top-chart-cover{
   position: absolute;
   background-color:black ;
   display:flex;
   /* flex-direction: column; */
   align-items: center;
   justify-content: center;
   left:30%;
   top:10.5%;
   width: 70%;
   height:41%;
   z-index:1000;
}
.bottom-chart-cover{
   position: absolute;
   background-color:lightgray ;
   display:flex;
   /* flex-direction: column; */
   align-items: center;
   justify-content: center;
   left:30%;
   top:51%;
   width: 70%;
   height:44.4%;
   z-index:1000;
}

.no-mouse-drag {
   pointer-events: auto; /* Disable mouse events on this element */
 }
 
 /* Enable mouse events for the arrows */
 .no-mouse-drag .swiper-button-next, .no-mouse-drag .swiper-button-prev {
   pointer-events: auto;
 }
 